<html>
  <head>
    <title>ym</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="<%- config.root %>css/app.css">
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/highlight.js/10.1.1/styles/github.min.css">
  </head>
  <body>
    <div class="head">
      <div class="header">
        <div class="site-title">
          <a href="<%- config.root %>">
            <img src="<%- config.root %>images/site_title.png">
          </a>
        </div>
      </div>
    </div>
    <div class="body">
      <div class="main">
        <%- body %>
      </div>
    </div>
    <div class="foot">
      <div class="footer">
        <span class="copyright">©️<%- (new Date()).getFullYear() %> ymcai.xyz</span>
        <a href="http://www.beian.miit.gov.cn" target="_blank"><%- theme.beian %> </a>
      </div>
    </div>
    <script src="https://cdn.bootcdn.net/ajax/libs/highlight.js/10.1.1/highlight.min.js"></script>
    <script type="text/javascript">
      hljs.initHighlightingOnLoad()
    </script>
  </body>
</html>