<%
  let isPost = Boolean(page.categories)
  if (page.archive) {
    page.title = '归档'
    if (page.year) page.title = page.year
    if (page.month) page.title += '-' + page.month
  }
  else if (page.category) {
    const category = theme.categories.find(item => item.id === page.category)
    page.title = category.title
  }
  else if (page.tag) page.title = page.tag
%> 
<html build-time="<%- moment().format('YYYY-MM-DD HH:mm') %>">
  <head>
    <% if (isPost) { %>
      <title><%- page.title %></title>
    <% } else { %>
      <title><%- page.title ? page.title + ' | ' + config.title : config.title %></title>
    <% } %>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <link rel="icon" href="<%- url_for(theme.favicon) %>">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_2235676_71rm12z746w.css">
    <link rel="stylesheet" href="<%- config.root %>libs/prism/prism.default.css">
    <link rel="stylesheet" href="<%- config.root %>css/index.css?t=<%- moment().format('YYYYMMDDHHmm') %>">
  </head>
  <body ontouchstart="">
    <%- include('./_partials/layout/head') %>
    <%- include('./_partials/layout/body') %>
    <%- include('./_partials/layout/foot') %>
  </body>
</html>