<%
  const categoryId = page.categories.data[0].name
  const category = theme.categories.find(item => item.id === categoryId)
%> 

<div class="post-header">
  <h1 class="post-title"><%- page.title %></h1>
  <div class="post-meta">
    <span><%- page.date.format('YYYY-MM-DD') %></span>
    <a class="post-meta-category" href="<%- url_for('/categories/' + category.id) %>"><%- category.title %></a>
  </div>
</div>
<div class="post-body">
  <%- page.content %>
</div>

<div class="page-footer">
  <div class="page-footer-links">
    <a class="page-footer-link" href="javascript:history.back()">返回</a>
    <% if (page.next) { %>
      <a class="page-footer-link" href="<%- page.next_link %>">
        下一篇：<%- page.next.title %>
      </a>
    <% } %> 
  </div>
  <!-- <% if (page.tags.length) { %>
    <div class="post-tags">
    <% page.tags.forEach(tag => { %>
      <a class="post-tag"><%- tag.name %></a>
    <% }) %>
  </div>
  <% } %> -->
</div>
